.description{
    width: 50em;
    height: 20em;
}
.title{
    width: 50em;
    height: 10px;
}
.button-class{
    color: black;
}
.home-container{
    display: block;
    text-align: center;
    padding: 10em;
}
.header-class{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.search-bar{
    width: 100em;
}
.second-row{
    display: grid;
    grid-template-columns: 1fr 16fr;
}
.form-post{
    display: flex;
    flex-direction: column;

}
.button-class{
    background-color: blue;
}
.question-post{
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: column;
}
.popularr-question{
    border: 1px solid;
    padding-right: 15em;
    padding-top: 2em;
    margin-top: 10em; 
    margin-right: 1.8em;
    height: 18em;
    box-shadow: 5px 10px 8px #888888;
}