.listt-class{
    width: 1fr;
}
.dashboardd-class{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    width: 72em;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}
.list-class{
    background-color: white;
    width: 70em;
}
/* .onee-card{
    border: 1px solid;
    padding: 10px;
    padding-bottom: 1em;
    margin: 0.8em;
    box-shadow: 5px 10px 8px #888888;
} */