.list-class{
    width: 1fr;
}
.dashboard-class{
    display: grid;
    grid-template-columns: auto;
    background-color: lightgray;
    width: 72em;
    border: 1px solid black;
    padding: 50px;
     margin: 20px; 
}
.list-class{
    background-color: white;
    width: 70em;
}
.single-card{
    border: 1px solid;
    padding: 10px;
     padding-bottom: 1em; 
     margin-bottom: 0.8em;
    box-shadow: 5px 10px 8px #888888;
}
.simple-text{
    font-size: 2em;
}
.question{
    color: darkblue;
}