.list-class{
    width: 1fr;
}
.dashboard-class{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    width: 102em;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}
.list-class{
    background-color: white;
    width: 100em;
}
.single-card{
    border: 1px solid;
    padding: 10px;
    padding-bottom: 1em;
    margin: 0.8em;
    box-shadow: 5px 10px 8px #888888;
}