.form{
    display: inline-block;
}
.container{
    padding: 10em;
    padding-left: 40em;
    /* padding-top: 20em; */
}
input{
    padding: 10px;
    margin: 3px;
}
.button-class {
    background-color: gainsboro;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

    .outer-box{
        border: 1px solid;
        padding-top: 8em;
        padding-left: 5em;
        margin-right: 1em;
        width: 20em;
        height: 20em;
        padding-right: 2em;
        box-shadow: 5px 10px 8px #888888;
      }

  